@transition-duration: 0.46s;
@transition-timing-function: cubic-bezier(.29, 0, .18, 1);
.loading-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 900;
	color: var(--theme);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 15px;
	background: rgba(255, 255, 255, 0.45);
	transition: @transition-duration @transition-timing-function background-color,
	@transition-duration @transition-timing-function color,
	@transition-duration @transition-timing-function width,
	@transition-duration @transition-timing-function height,
	//@transition-duration @transition-timing-function transform,
	@transition-duration @transition-timing-function opacity;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	-webkit-overflow-scrolling: touch;
	will-change: backdrop-filter, opacity;

	//will-change: contents;
	b {
		margin-top: 6px;
	}

	.circular {
		-webkit-animation: rotate 2s linear infinite;
		animation: rotate 2s linear infinite;
		-webkit-transform-origin: center center;
		will-change: transform;
		transform-origin: center center;
		width: 30px;
		height: 30px;

		.path {
			stroke-dasharray: 1, 200;
			stroke-dashoffset: 0;
			-webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
			animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
			stroke-linecap: round;
		}
	}
}

.no-fullscreen-base-css(@w, @h) {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	//margin-left: @w / -2;
	//margin-top: @h / -2;
	backdrop-filter: blur(14px);
	-webkit-backdrop-filter: blur(14px);
	background: rgba(255, 255, 255, 0.58);
	border: 1px solid #f1f1f1;
	box-shadow: 0 0 7px #ccc;
	justify-content: center;
}

.no-fullscreen {
	@w: 130px;
	@h: 130px;
	width: @w;
	height: @h;
	border-radius: 20px;

	.circular {
		width: 38px;
		height: 38px;
	}

	b {
		margin-top: 12px;
	}

	.no-fullscreen-base-css(@w, @h);
}

.mini {
	@w: 120px;
	@h: 40px;
	width: @w;
	height: @h;
	//padding: 0 16px;
	flex-direction: row;
	border-radius: 10px;
	font-size: 13px;
	.no-fullscreen-base-css(@w, @h);

	b {
		margin-top: 0;
		//margin-left: 10px;
	}

	.circular {
		width: 20px;
		height: 20px;
	}
}


@media screen and (min-width: 768px) {
	.loading-container,
	.no-fullscreen {
		backdrop-filter: unset;
		-webkit-backdrop-filter: blur(14px);
	}

	.no-fullscreen {
		background: rgb(255, 255, 255);
	}
}

@keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes color {
	100%, 0% {
		stroke: #d62d20;
	}
	80%, 90% {
		stroke: var(--theme);
	}
}

.loading-fade-enter,
.loading-fade-leave-active {
	opacity: 0;
	//transform: scale(0);
}

.loading-scale-fade-enter,
.loading-scale-fade-leave-active {
	opacity: 0;
	//transform: scale(0);
}
