<template>
	<transition :name="small ? 'loading-scale-fade':'loading-fade'" @after-leave="handleAfterLeave">
		<div
			:class="{'loading-container': true, 'no-fullscreen': small, 'mini': mini}"
			:style="style"
			id="load-element"
			v-show="showLoading">
			<svg class="circular" viewBox="25 25 50 50" v-if="showLoadIcon">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
			</svg>
			<b v-if="content">{{ content }}</b>
		</div>
	</transition>
</template>

<script>
export default {
	name: "loading",
	data(){
		return {
			showLoading: false,
			content: '加载中',
			color: '#EB8E45',
			small: false,
			mini: false,
			showLoadIcon: true,
			fixed: false
		}
	},
	computed: {
		style(){
			const STYLE = {
				'--theme': this.color || '#EB8E45',
			}

			return STYLE
		}
	},
	methods: {
		handleAfterLeave(){
			this.$emit('after-leave')
		}
	}
}
</script>

<style lang="less" scoped>
	@import "../style/loading";
	//.scale-leave-to
</style>
<style lang="less">
	.unclickable {
		overflow: hidden;
	}
	.unclickable *{
		pointer-events: none;
	}
</style>
